@charset "utf-8";

html,body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td
	{
	margin: 0;
	padding: 0;
	font-weight: normal;
	outline: none;
}

textarea {
	resize: none !important;
}

body {
	-webkit-text-size-adjust: none;
	font-family: "微软雅黑";
	font-size: 12px;
}

ul,li,dl,dd,dt {
	list-style-type: none;
}

i,em,cite {
	font-style: normal;
}

img {
	border: 0 none;
	vertical-align: top;
}

a {
	text-decoration: none;
}

a:focus {
	outline: none;
}

.clear {
	clear: both;
}

input {
	background: none;
}

.btn:HOVER {
	cursor: pointer;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

select {
	font-family: "微软雅黑";
	color: #595654;
	font-size: 12px;
	padding: 6px !important;
	border: 1px solid #e5e2da !important;
}

select:HOVER {
	border-color: #ef6f36 !important;
}

select:FOCUS {
	border-color: #ef6f36 !important;
}
