#{if play.mode.isDev()}
<!-- 
描述:freedom-js脚本引入页
动作:无
作者:maodun
创建时间:2015-08-05,12:55
 -->
#{/if}

<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/ajax-handler.js'}"></script>

<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/jquery-ext.js'}"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/jquery.rotate-v2.3-ext.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/regexp-ext.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/num-ext.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/str-ext.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/date-ext.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/arr-ext.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/laydate-v1.1-ext.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/layer-v2.1-ext.js'}" charset="UTF-8"></script>

<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/ArrayList.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/Timer.js'}" charset="UTF-8"></script>

<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/Printer.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/ConstMgr.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/FormHelper.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/BrowserHelper.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/KeyEventHelper.js'}" charset="UTF-8"></script>

<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/upload-img-widget-unfold.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/upload-img-widget-preview.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/upload-img-widget-more.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/download-file.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/upload-docu-widget-unfold.js'}" charset="UTF-8"></script>
 
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/addr-linkage.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/img-vcode.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/validate.js'}" charset="UTF-8"></script>
<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/otp-handle.js'}" charset="UTF-8"></script>

<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/def-val-filter.js'}" charset="UTF-8"></script>

<script type="text/javascript" src="@{'/public/baseframe/jss/freedom-v1.1.1.detail/banner.js'}" charset="UTF-8"></script>
